@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-family: 'Space Mono', 'Arial', sans-serif;
}